<header>
			<div class="logo-box">
				<a class="logo" href="/"><img alt="" src="{{ url_for('static', filename='media/img/logos/logo.avif') }}"></a>
				<p class="slogan">Life is a <b>PARTY</b><br>החיים הם <b>חגיגה</b></p>
                {% if session %}
                    <br>
                <p class="username">Hello, {{ session['name'] }} {% if session['is_admin'] %}(admin){% endif %}</p>
                {% endif %}
			</div>

			<a class="elemadded responsive-link" href="#">Menu</a>

			<div class="menu-box">
				<ul class="menu">
					<li><a class="active" href="/">Home</a></li>
                    <li><a id="searchmodalbtn">Search</a></li>
					<li><a href="/about">About</a></li>
                    {% if session %}
                    <li><a href="/home/signout">signout</a></li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    {% endif %}
				</ul>
			</div>

{#			<div class="archives-box">#}
{#				<h2>Archives</h2>#}
{#				<ul class="archives">#}
{#					<li><a href="#">2023</a></li>#}
{#					<li><a href="#">2022</a></li>#}
{#					<li><a href="#">2021</a></li>#}
{#				</ul>#}
{#			</div>#}



			<div class="categories-box">
				<h2>Categories</h2>
				<ul class="categories">
{#					<li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Ilay</a></li>#}
{#					<li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Family</a></li>#}
{#					<li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Friends</a></li>#}
{#                    <li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Surf</a></li>#}
{#					<li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Party</a></li>#}
				</ul>
			</div>
            <div class="periods-box">
				<h2>Life Periods</h2>
				<ul class="periods">
{#					<li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Baby</a></li>#}
{#					<li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Boy</a></li>#}
{#					<li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Teen</a></li>#}
{#                    <li><a onclick="tag_press(this)"><i class="fa" aria-hidden="true"></i>Adult</a></li>#}
				</ul>
			</div>

             {% if session %}
                        <div class="post-box">
                            <a class="btn" id="newpostmodalbtn">
                                + Upload post
                            </a>
                        </div>
            {% endif %}

			<div class="social-box">
				<ul class="social-icons">
					<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
					<li><a href="#"><i class="fa fa-rss-square"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
					<li><a href="#"><i class="fa fa-flickr"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
            <div class="contact-box">
                <h2>contact us</h2>
                <ul class="contact">
					<li><a href="mailto:Info@rememberillay.com"><i class="fa fa-mail-forward"></i>Info@rememberillay.com</a></li>
                </ul>
            </div>
            <a onclick="window.scrollTo({top: 0, behavior: 'smooth'});" class="scroll_top_btn">
                <i class="fa fa-3x fa-arrow-up"></i>
            </a>
			<p style="position: absolute; bottom: 10px;" class="copyright">&#169; 2014 Grafika, All Rights Reserved</p>
		</header>

<!-- search post modal -->
<div id="searchmodal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="closemodal">&times;</span>
      <div class="search_container">
    <input type="search" id="search_input" placeholder="Start searching here" />
          </div>
      <div class="search_results">
{#          <div class="result_card">#}
{#              <h2 class="post_name"><a>first post name here</a></h2>#}
{#              <h3 class="uploaded_ago"><a>#}
{#                <i class="fa fa-calendar"></i>#}
{#                    <span>#}
{#                        {% set days_ago = post['data'].uploaded.values[0] %}#}
{#                        {% if days_ago == 0 %}#}
{#                        uploaded today#}
{#                        {% elif days_ago < 7 %}#}
{#                        uploaded {{ (post['data'].uploaded.values[0])|int }}  day(s) ago#}
{#                        {% elif days_ago < 365 %}#}
{#                        uploaded {{ (post['data'].uploaded.values[0]/7)|int }} week(s) ago#}
{#                        {% else %}#}
{#                        uploaded {{ (post['data'].uploaded.values[0]/365)|int }} year(s) ago#}
{#                        {% endif %}#}
{#                        uploaded 3 day(s) ago#}
{#                    </span>#}
{#                </a>#}
{#              </h3>#}
{#              <ul class="post-tags">#}
{#                    <li class="post_period"><a><i class="fa fa-clock-o"></i><span>Child</span></a></li>#}
{#                    <li class="post_owner"><a><i class="fa fa-user"></i><span>Nitay_mayo</span></a></li>#}
{#                    <li class="post_likes"><a><i class="fa fa-heart"></i><span>5 likes</span></a></li>#}
{#                </ul>#}
{#          </div>#}
      </div>
  </div>
 </div>

<!-- new post modal -->
<div id="newpostmodal" class="modal">
  <!-- New Post Modal content -->
  <div class="modal-content">
    <span class="closemodal">&times;</span>
      <h1>Stage 1: Post Info</h1>
     <form id="new-post-form" action="/home/newpost" method="post">
          <div class="imgcontainer">
            <img src="{{ url_for('static', filename='media/img/logos/tattoo_fish_600x600.webp') }}" alt="Avatar" class="avatar">
          </div>

          <div class="container">
            <label for="post_name"><b>Post Name</b></label>
            <input type="text" placeholder="Enter post name" name="post_name" id="post_name" required>
              <small class="hidden post_name_err">error here</small><br>

            <label for="post_year"><b>Approximate Year</b></label>
            <input type="number" placeholder="Year of the event/moments" min="2000" max="2023" id="post_year" name="post_year" required>
                <small class="hidden post_year_err">error here</small><br>

              <label for="free_text"><b>Post Description</b></label>
              <textarea style="resize: vertical" type="text" maxlength="3000" id="free_text" placeholder="Description of an event, a special/funny/unique moment" name="free_text"></textarea>
                <small class="hidden free_text_err">error here</small><br>

            <label for="access_type"><b>Access Type</b></label><br>
            <select name="access_type" id="access_type">
              <option value="0">Everyone</option>
              <option value="1">Family and friends only</option>
              <option value="2">Family only</option>
              <option value="3">You only</option>
            </select>

              <label for="tags"><b>Add Tags</b></label><br>

              <div class="new_post_tags">

              </div>
          </div>
     </form>
      <h1>Stage 2: Image Upload</h1>
        {{ dropzone.create(id='new_post_dropzone', action='/homepage/uploadpostphotos') }}
<button id="upload-btn" type="button">Post</button>
  </div>
 </div>
