{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}

{% block page_body_main %}
    <div id="content">
			<div class="inner-content">
				<div class="blog-page">
					<div class="blog-box">
                    {% if posts %}
						<!-- blog-post -->
                        {% for post in posts %}
                            <div class="blog-post post gallery-post" lifeperiod="{{ post['data'].period.values[0] }}">
							<div class="inner-post" onclick=" location.href='/postpage/{{ post['data'].post_id.values[0] }}'">
								<div class="flexslider">
									<ul class="slides">
{#                                        {% for img in post['images'].location %}#}
{#										<li>#}
{#											<img alt="{{ img }}" src="{{ img }}" />#}
{#										</li>#}
{#                                        {% endfor %}#}
                                        {% if post['images'].location.values.any() %}
                                        <li>
                                            <img alt="" src="{{ url_for('static', filename=('media/posts' + post['images'].location.values[0])) }}" />
                                            <div class="images_count"><i class="fa fa-plus-square-o" aria-hidden="true"></i> {{ ((post['data'].images_count|int) - 1)  }}<br>Images</div>
										</li>
                                        {% endif %}
									</ul>
								</div>
								<div class="post-content">
									<h2 dir="auto"><a>{{ post['data'].name.values[0] }}</a></h2>
									<p dir="auto">{{ post['data'].description.values[0] }}</p>
									<ul class="post-tags">
                                        {% for tag in post['tags'].name %}
                                            <li class="tag"><a><i class="fa fa-flag" aria-hidden="true"></i><span class="tag_name">{{ tag|capitalize }}</span></a></li>
                                        {% endfor %}
                                        <li class="post_owner"><a><i class="fa fa-clock-o"></i><span>{{ post['data'].period.values[0]|capitalize }}</span></a></li>
                                        <li class="post_owner"><a><i class="fa fa-user"></i><span>{{ post['data'].username.values[0] }}</span></a></li>
                                        <li class="post_likes"><a><i class="fa fa-heart"></i><span>{{ post['likes'] }} likes</span></a></li>
{#										<li><a href="#"><i class="fa fa-comment"></i>3 comments</a></li>#}
                                        <li class="post_days_ago">
                                            <a>
                                            <i class="fa fa-calendar"></i>
                                                <span>
                                                    {% set days_ago = post['data'].uploaded.values[0] %}
                                                    {% if days_ago == 0 %}
                                                    uploaded today
                                                    {% elif days_ago < 7 %}
                                                    uploaded {{ (post['data'].uploaded.values[0])|int }}  day(s) ago
                                                    {% elif days_ago < 365 %}
                                                    uploaded {{ (post['data'].uploaded.values[0]/7)|int }} week(s) ago
                                                    {% else %}
                                                    uploaded {{ (post['data'].uploaded.values[0]/365)|int }} year(s) ago
                                                    {% endif %}
                                                </span>
                                            </a>
                                        </li>
{#										<li><a href="#"><i class="fa fa-calendar"></i>from {{ post['data'].year.values[0] }}</a></li>#}
									</ul>
								</div>							
							</div>
						</div>
                        {% endfor %}
                    {% else %}
                        <!-- no post to see -->
                        <div>no posts to see</div>
                    {% endif %}


					</div>

					<a class="blog-page-link">Older Posts</a>
				</div>
			</div>
		</div>
{% endblock %}


{% block page_body_js %}
{% endblock %}

{# 						<!-- blog-post -->#}
{#{#						<div class="blog-post link-post">#}
{#{#							<div class="inner-post">#}
{#{#								<div class="post-content">#}
{#{#									<p>Another Great Post where you can put any link to a specific website</p>#}
{#{#									<a class="link" href="#">http://www.themeforest.net</a>#}
{#{#								</div>#}
{#{#							</div>#}
{#{#						</div>#}
{#{##}
{#{#						<!-- blog-post -->#}
{#{#						<div class="blog-post photo-post">#}
{#{#							<div class="inner-post">#}
{#{#								<img alt="" src="upload/2.jpg">#}
{#{#								<a class="zoom" href="upload/2.jpg">+</a>#}
{#{#							</div>#}
{#{#						</div>#}
{#{##}
{#{#						<!-- blog-post -->#}
{#{#						<div class="blog-post video-post">#}
{#{#							<div class="inner-post">#}
{#{#								<!-- youtube -->#}
{#{#								<iframe class="videoembed" src="http://www.youtube.com/embed/agqLEbOFT2A"></iframe>#}
{#{#								<!-- End youtube -->#}
{#{#								<div class="post-content">#}
{#{#									<h2><a href="single-post.html">Self-hosted video or audio post</a></h2>#}
{#{#									<p>What about confusing clutter? Information overload? Doesn't data have to be "boiled down" and "simplified"? These common questions miss the point, for the quantity of detail is an issue completely</p>#}
{#{#									<ul class="post-tags">#}
{#{#										<li><a href="#"><i class="fa fa-heart"></i>163 likes</a></li>#}
{#{#										<li><a href="#"><i class="fa fa-comment"></i>3 comments</a></li>#}
{#{#										<li><a href="#"><i class="fa fa-calendar"></i>Dec 19, 2013</a></li>#}
{#{#									</ul>#}
{#{#								</div>#}
{#{#							</div>#}
{#{#						</div>#}
{#{##}
{#{#						<!-- blog-post -->#}
{#{#						<div class="blog-post quote-post" dir="rtl">#}
{#{#							<div class="inner-post">#}
{#{#								<div class="post-content">#}
{#{#									<blockquote>#}
{#{#										!החיים הם מסיבה#}
{#{#									</blockquote>#}
{#{#									<span>Cameron Moll</span>							#}
{#{#								</div>#}
{#{#							</div>#}
{#{#						</div>#}
{#{##}
{#{#						<!-- blog-post -->#}
{#{#						<div class="blog-post photo-post">#}
{#{#							<div class="inner-post">#}
{#{#								<img alt="" src="upload/6.jpg">#}
{#{#								<a class="zoom" href="upload/6.jpg">+</a>#}
{#{#							</div>#}
{#{#						</div>#}
{#{##}
{#{#						<!-- blog-post -->#}
{#{#						<div class="blog-post image-post">#}
{#{#							<div class="inner-post">#}
{#{#								<img alt="" src="upload/4.jpg">#}
{#{#								<div class="post-content">#}
{#{#									<h2><a href="single-post.html">Standard post with featured image</a></h2>#}
{#{#									<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>#}
{#{#									<ul class="post-tags">#}
{#{#										<li><a href="#"><i class="fa fa-heart"></i>163 likes</a></li>#}
{#{#										<li><a href="#"><i class="fa fa-comment"></i>3 comments</a></li>#}
{#{#										<li><a href="#"><i class="fa fa-calendar"></i>Dec 19, 2013</a></li>#}
{#{#									</ul>#}
{#{#								</div>#}
{#{#							</div>#}
{#{#						</div>#}
{#{##}
{#{#						<!-- blog-post -->#}
{#{#						<div class="blog-post gallery-post">#}
{#{#							<div class="inner-post">#}
{#{#								<div class="flexslider">#}
{#{#									<ul class="slides">#}
{#{#										<li>#}
{#{#											<img alt="" src="upload/1.jpg" />#}
{#{#										</li>#}
{#{#										<li>#}
{#{#											<img alt="" src="upload/3.jpg" />#}
{#{#										</li>#}
{#{#									</ul>#}
{#{#								</div>#}
{#{#								<div class="post-content">#}
{#{#									<h2><a href="single-post.html">Gallery Post Example</a></h2>#}
{#{#									<p>A man who works with his hands is a laborer; a man who works with his hands and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist</p>#}
{#{#									<ul class="post-tags">#}
{#{#										<li><a href="#"><i class="fa fa-heart"></i>163 likes</a></li>#}
{#{#										<li><a href="#"><i class="fa fa-comment"></i>3 comments</a></li>#}
{#{#										<li><a href="#"><i class="fa fa-calendar"></i>Dec 19, 2013</a></li>#}
{#{#									</ul>#}
{#{#								</div>#}
{#{#							</div>#}
{#{#						</div>#}
{#{##}
{#{#						<!-- blog-post -->#}
{#{#						<div class="blog-post aside-post">#}
{#{#							<div class="inner-post">#}
{#{#								<div class="post-content">#}
{#{#									<h2>Aside Post Format</h2>#}
{#{#									<p>What about confusing clutter? Information overload? Doesn't data have to be "boiled down" and "simplified"? These common questions miss the point, for the quantity of detail is an issue</p>#}
{#{#								</div>#}
{#{#							</div>#}
{#{#						</div> #}