{% extends 'base.html' %}

{% set page_head_title = 'About' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('about.static', filename='css/about.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
<div id="content">
			<div class="inner-content">
				<div class="about-page">

					<div class="about-box">
						<div class="about-content">
							<div class="about-section">
								<img alt="" src="{{ url_for('static', filename='media/img/about_imgs/about_banner.jpg') }}">
								<h1 >Ilay Nachman</h1>
                                <br>
                                <p dir="auto">עילי, "נחמן" בפי חבריו, היה אדם מהלך קסם.
עם שקט פנימי, בצניעות נגע בלבבות.
הוא ידע לחבר לעצמו חוויות ולאחרים מפגשים והכרויות.
עילי השמח, מלא תשוקה לחיים, סקרן, רגיש, אחראי, חרוץ, יודע להתמודד, חסון ובעל חוסן פנימי.
עילי חגג את החיים ,ניצל הזדמנויות להרפתקאות חדשות, העז, גילה עולמות.
היה מוקף חברים, חיבורים,
גלישה, עבודה, משפחה ובעיקר אהבה ושמחה.
הוא תמיד היה כאן ועכשיו אבל כבר תכנן את ההרפתקה הבאה.
חיי בקצב, עם חלומות לעתיד, בסערה שנגדעה ביום הנורא.</p>
                                <p dir="auto">ב 7 באוקטובר עילי נרצח במתקפת הטרור בעת פשיטת המחבלים על מתחם המסיבה ברעים. עילי, ששהה במיגונית עם עוד 4 חברים, הגן ביחד עם חברו אדיר, והדף מחבלים בידיים חשופות. בכך הצילו את חברותיהן ששהו עימם.
עילי ציווה לנו דרך חיים: לחיות, להעז, לחגוג, לגלות, לתת, להיות חבר להיות אדם.
ואנחנו נחייה כאן ועכשיו ומחר . אין סוף</p>
                                <p dir="auto">אתר זה נבנה על ידי חברו הטוב של עילי, ניתאי מאיו במטרה לאפשר לנו לשמר ולהפיץ את האור של עילי: את הטוב, את החיים את החוויות, את החיוך והמשמעות שעילי נתן לנו.
אתם מוזמנים להעלות תמונות, התכתבויות, קטעי whats up, סיפורים, בדיחות ועוד...
כל העולה על דעתכם ברוח עילי.</p>
                            </div>
							<div class="about-section last-section">
								<h1>The Story</h1>
                                <span class="about_story_info">click on the images</span>
								<div class="team-members">
									<div class="row">
										<div class="col-md-4">
											<div class="team-post">
												<img alt="" src="{{ url_for('static', filename='media/img/about_imgs/about_baby.jpg') }}">
												<div class="team-hover">
													<div class="team-data">
														<h3 dir="auto">תינוק נולד</h3>
														<span dir="auto">
                                                            6.11.99<br>
                                                            2.850 ק"ג<br>
                                                            יום שבת היורה ירד<br>
                                                            בית חולים לניאדו<br>
                                                            קצת לפני הזמן<br>
                                                            כבר אז, אצה לו הדרך. <br>
                                                            תינוק צנום, מאיר פנים <br>
                                                            בן בכור, נכד ראשון <br>
                                                            תקווה ושמחה נכנסת לחיים... <br>
                                                        </span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="team-post">
												<img alt="" src="{{ url_for('static', filename='media/img/about_imgs/about_gan.jpg') }}">
												<div class="team-hover">
													<div class="team-data">
														<h3 dir="auto">גן</h3>
														<span dir="auto">
                                                            גן אביב,<br>
                                                            אצל רווית<br>
                                                            קוביות<br>
                                                            גלגלים<br>
                                                            חלומות  - נהג משאית זבל להיות.<br>
                                                            חברים חברות<br>
                                                            בין צורן לאבן יהודה<br>
                                                            בחצר ברחוב אסותא<br>
                                                            רוקם חלומות<br>
                                                        </span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="team-post">
												<img alt="" src="{{ url_for('static', filename='media/img/about_imgs/about_school.jpg') }}">
												<div class="team-hover">
													<div class="team-data">
														<h3 dir="auto">בית ספר</h3>
														<span dir="auto">
                                                            וייצמן בית יהושע<br>
                                                            שפיים חוף השרון<br>
                                                            חברים חדשים<br>
                                                            הוקי קרח, כדורסל<br>
                                                            כוחות  ועוצמות<br>
                                                            חונך אחרים<br>
                                                            אתגרים<br>
                                                            תלמיד מצטיין<br>
                                                            שמחת חיים<br>
                                                        </span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="team-post">
												<img alt="" src="{{ url_for('static', filename='media/img/about_imgs/about_army.jpg') }}">
												<div class="team-hover">
													<div class="team-data">
														<h3 dir="auto">צבא</h3>
														<span dir="auto">
                                                            צנחנים<br>
                                                            מסלול חתחתים<br>
                                                            צולח אתגרים<br>
                                                            מעודד אחרים בדרך<br>
                                                            חברון<br>
                                                            כיסופים<br>
                                                            ביסל"ח<br>
                                                            גזירת חוגר<br>
                                                            יש!<br>
                                                        </span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="team-post">
												<img alt="" src="{{ url_for('static', filename='media/img/about_imgs/about_surf.jpg') }}">
												<div class="team-hover">
													<div class="team-data">
														<h3 dir="auto">גלישה</h3>
														<span dir="auto">
                                                            החיים<br>
                                                            השקיעה<br>
                                                            הרוח מנשבת<br>
                                                            סרי לנקה, קוסטה ריקה, מלדיביים<br>
                                                            גל ועוד גל<br>
                                                            הדרכה<br>
                                                            המועדון, החברים, החניכים<br>
                                                            משפחה<br>
                                                        </span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="team-post">
												<img alt="" src="{{ url_for('static', filename='media/img/about_imgs/about_trip.jpg') }}">
												<div class="team-hover">
													<div class="team-data">
														<h3 dir="auto">רואה עולם </h3>
														<span dir="auto">
                                                            נועץ על המפה יעדים<br>
                                                            ייצר נדודים<br>
                                                            לבלוע את החיים<br>
                                                            טיולים עם המשפחה, עם ארבל, עם חברים<br>
                                                            אירופה, תיאלנד, ארה"ב<br>
                                                            לעמוד על פסגת הר גבוה בפרו<br>
                                                            לנשום אוויר<br>
                                                            לטבול בים ונהרות<br>
                                                            לשבת על החוף ביוון<br>
                                                            ותמיד תמיד לחזור הביתה גם.<br>
                                                        </span>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
{#						<div class="sidebar">#}
{#							<div class="skills-progress">#}
{#								<h1>Our Skills</h1>#}
{#								<p>Frontend Development <span>71%</span></p>#}
{#								<div class="meter nostrips frontend">#}
{#									<span style="width: 71%"></span>#}
{#								</div>#}
{#								<p>Photoshop <span>85%</span></p>#}
{#								<div class="meter nostrips photoshop">#}
{#									<span style="width: 85%"></span>#}
{#								</div>#}
{#								<p>Wordpress <span>76%</span></p>#}
{#								<div class="meter nostrips wp">#}
{#									<span style="width: 76%"></span>#}
{#								</div>#}
{#								<p>Plugins <span>53%</span></p>#}
{#								<div class="meter nostrips plugins">#}
{#									<span style="width: 53%"></span>#}
{#								</div>#}
{#							</div>#}
{##}
{#							<div class="testimonial">#}
{#								<h1>Client Testimonials</h1>#}
{#								<ul>#}
{#									<li>#}
{#										<div class="client-test">#}
{#											<img alt="" src="upload/avatar2.jpg">#}
{#											<h3>Collis Ta’eed - CEO at Envato</h3>#}
{#										</div>#}
{#										<p>Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p>#}
{#									</li>#}
{#									<li>#}
{#										<div class="client-test">#}
{#											<img alt="" src="upload/avatar1.jpg">#}
{#											<h3>John Smith - Web Developer</h3>#}
{#										</div>#}
{#										<p>Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p>#}
{#									</li>#}
{#								</ul>#}
{#							</div>#}
{##}
{#						</div>#}
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block page_body_js %}
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.migrate.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.imagesloaded.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.quovolver.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/retina-1.1.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.nicescroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
{% endblock %}