{% extends 'base.html' %}

{% set page_head_title = post['data'].name %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('postpage.static', filename='css/postpage.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="showinbig-div hidden" onclick="this.classList.add('hidden')">
    <img class="sha" src="#">
    </div>
<div id="content">
			<div class="inner-content">
				<div class="single-project">
					<div class="single-box">
						<div class="single-box-content">
							<div class="flexslider post-slide">
                            {% set images = post['images'] %}
								<ul class="slides">
                                    {% for img_url in images[:3]  %}
									<li>
										<img alt="" src="{{ img_url }}" />
									</li>
                                    {% endfor %}
								</ul>
							</div>
                            {% if session['user_id'] == post['data'].user_id or session['is_admin'] %}
                                <div class="post_edit">
                                    <button onclick="edit_post({{ post['data'].post_id }})" class="btn edit_post">Edit</button>
                                    <button onclick="delete_post({{ post['data'].post_id }})" class="btn delete_post">Delete</button>
                                </div>
                            {% endif %}
							<div class="project-post-content">
								<div class="project-text">
									<h1 class="post_name" dir="auto">{{ post['data'].name }}</h1>
									<p class="post_description" dir="auto">{{ post['data'].description }}</p>
                                    <label class="access_type_label hidden" for="access_type"><b>Change access type</b></label><br>
                                    <select class="access_type hidden" name="access_type" id="new_access_type">
                                        {% set access = post['data'].access %}
                                      <option value="0" {% if access == 0 %}selected="selected"{% endif %}>Everyone</option>
                                      <option value="1" {% if access == 1 %}selected="selected"{% endif %}>Family and friends only</option>
                                      <option value="2" {% if access == 2 %}selected="selected"{% endif %}>Family only</option>
                                      <option value="3" {% if access == 3 %}selected="selected"{% endif %}>You only</option>
                                    </select>
								</div>
                            {# This code block devide the images to 3 columns, the first 2 show 2/3 of the photos and the third column (separate for loop below) show the rest #}
                                {% set third_of_images = ((images|length)/3)|int %}
                                <label class="select-images-info hidden">Want to delete images? Images selected here will be deleted</label>
                                <div class="post-images">
                                    {% for column in [0,1] %}
                                        <div class="post-columns">
                                            {% for img_url in images[third_of_images*column:third_of_images*(column + 1)] %}
                                            <div class="img-card">
                                                <img onclick="showinbig(this)" src="{{ img_url }}">
                                            </div>
                                            {% endfor %}
                                        </div>
                                {% endfor %}
                                        <div class="post-columns">
                                            {% for img_url in images[third_of_images*2:] %}
                                            <div class="img-card">
                                                <img onclick="showinbig(this)" src="{{ img_url }}">
                                            </div>
                                            {% endfor %}
                                        </div>
                                </div>
                                <div class="add_new_images hidden">
                                    <label class="select-images-info">Want to add images? Images droped here will be uploaded</label>
                                    {{ dropzone.create(id="upload_new_photos", action=("/postpage/addimagestopost/" + post['data'].post_id|string)) }}

                                    <button id="add_post_photos_btn" class="btn">Update post</button>
                                </div>
							</div>
						</div>
						<div class="sidebar">
							<div class="post-info">
								<h1>Post Info</h1>
								<ul>
									<li>
										<span><i class="fa fa-user"></i></span><a dir="auto">{{ post['user'].name }}</a>
									</li>
									<li>
										<span class="postlikebtn" onclick="toggle_like({{ post['data'].post_id }}, this)"><i class="fa fa-heart"></i></span><a><a class="like_number">{{ post['likes'] }}</a> Likes</a>
									</li>
									<li>
										<span><i class="fa fa-calendar"></i></span><a>from {{ post['data'].year }}</a>
									</li>
                                    <li>

										<span><i class="fa fa-calendar"></i></span>
                                        <a>
                                            {% if post['data'].uploaded == 0 %}
                                            uploaded today
                                            {% else %}
                                            uploaded {{ post['data'].uploaded }} days ago
                                            {% endif %}
                                        </a>
									</li>
								</ul>
							</div>
							<div class="tags-box">
								<h1>Tags</h1>
								<ul>
                                    {% for tag in post['tags'] %}
									<li>
										<a>{{ tag.name }}</a>
									</li>
                                    {% endfor %}
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
{% endblock %}

{% block page_body_js %}
    {{ dropzone.config(id="upload_new_photos", custom_init="this.options.autoProcessQueue = false",
     custom_options='autoProcessQueue: false, addRemoveLinks: true,parallelUploads: 50') }}
    {# if user liked the post do toggle_like_fa() to show the red heart icon #}
    {% if post['user_liked'] %}
    <script>document.body.onload = function () {toggle_like_fa(document.querySelector('.postlikebtn'))}</script>
    {% endif %}
{% endblock %}