{% extends 'base.html' %}

{% set page_head_title = post['data'].name %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('postpage.static', filename='css/postpage.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="showinbig-div hidden">
        <div class="flexslider">
            <ul class="slides">

            </ul>
        </div>
    </div>
<div id="content">
			<div class="inner-content">
				<div class="single-project">
					<div class="single-box">
						<div class="single-box-content">
							<div class="flexslider post-slide">
                            {% set images = post['images'] %}
								<ul class="slides">
                                    {% for img_url in post['cover_images']  %}
									<li>
										<img alt="" src="{{ url_for('static', filename=('media/posts' + img_url)) }}" />
									</li>
                                    {% endfor %}
								</ul>
							</div>
                            {% if session['user_id'] == post['data'].user_id or session['is_admin'] %}
                                <div class="post_edit">
                                    <button onclick="edit_post({{ post['data'].post_id }})" class="btn edit_post">Edit</button>
                                    <button onclick="delete_post({{ post['data'].post_id }})" class="btn delete_post">Delete</button>
                                    <button id="update_post_btn" class="btn hidden">Update post</button>
                                </div>
                            {% endif %}
							<div class="project-post-content" post="{{ post['data'].post_id }}">
								<div class="project-text">
									<h1 class="post_name" dir="auto">{{ post['data'].name }}</h1>
									<p class="post_description" dir="auto">{{ post['data'].description }}</p>
                                    <label class="access_type_label hidden" for="access_type"><b>Change access type</b></label><br>
                                    <select class="access_type hidden" name="access_type" id="new_access_type">
                                        {% set access = post['data'].access %}
                                      <option value="0" {% if access == 0 %}selected="selected"{% endif %}>Everyone</option>
                                      <option value="1" {% if access == 1 %}selected="selected"{% endif %}>Family and friends only</option>
                                      <option value="2" {% if access == 2 %}selected="selected"{% endif %}>Family only</option>
                                      <option value="3" {% if access == 3 %}selected="selected"{% endif %}>You only</option>
                                    </select>
								</div>
                            {# This code block devide the images to 3 columns, the first 2 show 2/3 of the photos and the third column (separate for loop below) show the rest #}
{#                                {% set third_of_images = ((images|length)/3)|int %}#}
{#                                <div class="cover_images post-images hidden">#}
{#                                    <label class="cover-images-info ">drag images here to change the cover photos</label>#}
{#                                    {% for img_url in post['cover_images'] %}#}
{#                                        <div class="img-card">#}
{#                                            <img alt="{{ img_url }}" src="{{ url_for('static', filename=('media/posts' + img_url)) }}">#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
                                <label class="select-images-info hidden">Edit post images: <br><i class="fa fa-plus-circle "></i> make image cover (max 3 images allowed)<br><i class="fa fa-trash-o"></i> delete image</label>
                                <div class="post-images main-images">
                                   {% for img in images %}
                                        <div class="img-card {% if img.cover %}cover-img{% endif %} {% if img.type == 'video' %}video-card{% endif %}" onclick="showinbig(this)">
                                            {% if img.type == 'image' %}
                                            <img src="{{ url_for('static', filename=('media/posts' + img.location)) }}" alt="{{ img.location }}">
                                            <div class="edit_image hidden">
                                                <div class="make_cover"><i class="fa fa-plus-circle "></i> </div>
                                                <div class="delete_img"><i class="fa fa-trash-o"></i></div>
                                            </div>
                                            {% elif img.type == 'video' %}

                                            <video muted preload="metadata">
                                            <source src="{{ url_for('static', filename=('media/posts' + img.location)) }}" type="video/{{ img.location.split('.')[-1] }}" alt="{{ img.location }}" />
                                            <p>
                                                Your browser doesn't support HTML video. Here is a
                                                <a href="{{ url_for('static', filename=('media/posts' + img.location)) }}">link to the video</a> instead.
                                              </p>

                                            </video>
                                                <div class="edit_image hidden">
                                                    <div class="delete_img"><i class="fa fa-trash-o"></i></div>
                                                </div>
                                            {% endif %}
                                        </div>
                                   {% endfor %}

                                </div>
                                <div class="update_post_div hidden">
                                <div id="uploadNewPhotos" class="add_new_images">
                                    <label class="select-images-info">Want to add images? Images dropped here will be uploaded<span class="images_number">(0 images selected)</span></label>
                                    <div class="dz-default dz-message dropzone">
                                     <button class="dz-button" type="button">Drop files here to upload</button>
                                     <div class="dropzone-previews added_images"></div>
                                    </div>
							    </div>

                                </div>
                            </div>
                        </div>
						<div class="sidebar">
							<div class="post-info">
								<h1>Post Info</h1>
                                <span class="show_postpage_intro" onclick="intro_postpage()"><i class="fa fa-lightbulb-o" aria-hidden="false"></i></span>
								<ul>
									<li>
										<span><i class="fa fa-user"></i></span><a dir="auto">{{ post['user'].name }}</a>
									</li>
									<li onclick="toggle_like({{ post['data'].post_id }}, this)">
										<span class="postlikebtn like_icon">
                                            <i class="fa fa-heart"></i>
                                        </span>
                                        <a>
                                            <a class="like_number">{{ post['likes'] }}</a> Likes
                                        </a>
									</li>
									<li class="post_year">
                                        <label class="change-year-info hidden">Change post year here</label><br>
                                        <span><i class="fa fa-calendar"></i></span><a>from <span class="post_year">{{ post['data'].year }}</span>, {{ post['data'].period|capitalize }}</a>

									</li>
                                    <li>

										<span><i class="fa fa-calendar"></i></span>
                                        <a>
                                            {% if post['data'].uploaded == 0 %}
                                            uploaded today
                                            {% else %}
                                            uploaded {{ post['data'].uploaded }} days ago
                                            {% endif %}
                                        </a>
									</li>
								</ul>
							</div>
							<div class="tags-box">
								<h1>Tags</h1>
                                <label class="select-tags-info hidden">Want to change tags? choose desired tags here</label>
								<ul>
                                    {% for tag in post['tags'] %}
									<li class="{{ tag.name }}_tag">
										<a>{{ tag.name|capitalize }}</a>
									</li>
                                    {% endfor %}
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
{% endblock %}

{% block page_body_js %}
    {{ dropzone.config(id="upload_new_photos", custom_init="this.options.autoProcessQueue = false",
     custom_options='autoProcessQueue: false, addRemoveLinks: true,parallelUploads: 50') }}
    {# if user liked the post do toggle_like_fa() to show the red heart icon #}
    {% if post['user_liked'] %}
    <script>document.body.onload = function () {toggle_like_fa(document.querySelector('.postlikebtn'))}</script>
    {% endif %}
{% endblock %}